<app-header></app-header>
<div class="element">
  <div class="element-left">
    <div class="element-bg-img"><img [src]="selectedHotel.picture" alt="" class="img-responsive"> </div>
    <div class="element-left-bottom">
      <app-nav (stars)="starsChanged($event)"></app-nav>
      <div class="village">
        <div class="search-block">
            <p>Search Hotel:</p>
            <input type="text" (keyup)="searchChanged($event)" />
        </div>
        <h3>Righteous indignation & like</h3>
        <span class="line"> </span>
        <div class="activity_box">
          <div class="scrollbar" id="style-2">
            <app-list (selectedHotel)="selectHotel($event)" [stars]="stars" [searchHotel]="searchHotel" [hotelsList]="hotels"></app-list>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="element-right">
    <app-weather [hotelWeather]="selectedHotel.weather"></app-weather>
    <app-profile [hotelProfile]="selectedHotel.profile"></app-profile>
  </div>
  <div class="clear"> </div>
</div>

<!-- <mat-grid-list cols="2" rowHeight="2:1">
    <mat-grid-tile rowspan="2">

    </mat-grid-tile>
    <mat-grid-tile>2</mat-grid-tile>
    <mat-grid-tile>3</mat-grid-tile>
  </mat-grid-list>
 -->
<app-footer></app-footer>
